<div class="container contSize">
    <div class="row rowSize bgGray">       
        <img [src]="dataFish['Species Illustration Photo']?.src" class="imgSize" />
    </div>
    <div class="row rowSize">
        <div class="col-sm">
            <h3>
                {{ dataFish['Species Illustration Photo']?.title.split(' ').slice(0, 1) }}
            </h3>
            <p class="protein"> {{ dataFish['Protein'] | diary | number: '1.1-2' }} %</p>
            <label>
                Nome: {{ dataFish['Species Name'] }}
            </label>
            <p class="textWrap">
                Descrição: {{ dataFish['Fishing Rate'] }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center">
            <button type="button" class="btn btn-block btn-info" (click)="details()">Ler Mais</button>
        </div>
    </div>
</div>